
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--contact-->
<div class="contact-top-agileinfo">
	<div class="container">
		<h3 class="title-w3layouts contact-head">We Love to Meet New people <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i></h3>
		<div class="col-md-6 contact-left-wthree">
			<h5>Customer Care</h5>
			<div class="customer-info-w3ls">
				<img src="~/images/team1.jpg" alt="" />
				<div class="customer-right">
					<h6>Carl Haddon</h6>
					<p>Creative Designer<span>Toll free +012 345 6780</span></p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="customer-info-w3ls">
				<img src="~/images/team3.jpg" alt="" />
				<div class="customer-right">
					<h6>Mark Johnson</h6>
					<p>Manager<span>Toll free +045 123 6780</span></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-6 contact-right-wthree">
			<h5>Others Ways to Connect</h5>
			<div class="connect-w3-agile">
				<i class="fa fa-facebook-square ione" aria-hidden="true"></i>
				<p>Say It with Flowers... for Less with Prizzie!  <a href="#">like us on Facebook</a> esque est nisi.</p>
				<div class="clearfix"></div>
			</div>
			<div class="connect-w3-agile">
				<i class="fa fa-twitter-square itwo" aria-hidden="true"></i>
				<p>serve Canadians virtually coast to coast <a href="#">Follow us on twitter</a> esque est nisi.</p>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- contact-form-->
<div class="jarallax contact-bottom" id="contact">
	<div class="col-md-7 contact-right-w3l">
		<h3 class="title-w3layouts white-agileits">Reach Out to Us <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell white-agileits" aria-hidden="true"></i></h3>
		<form action="mailto:Rizwana.ShaherBano@triosstudent.com?subject=Feedback&cc=info@prizzie.com" method="post">
			<input type="text" class="name" name="FirstName" placeholder="First Name" required="">
			<input type="text" class="name" name="LastName" placeholder="Last Name" required="">
			<input type="email" class="name" name="Email" placeholder="Email" required="">
			<input type="text" class="name" name="Subject" placeholder="Subject" required="">
			<textarea placeholder="Your Message" required=""></textarea>
			<input type="submit" value="Send message">
		</form>
	</div>
	<div class="col-md-5 agileits_w3layouts-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.529655996762!2d-79.74364138456276!3d43.65795317912108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b15618d46191f%3A0x9c69751fa8238ffc!2s373%20Steeles%20Ave%20W%20Unit%20103%2C%20Brampton%2C%20ON%20L6Y%200P8!5e0!3m2!1sen!2sca!4v1678347963662!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //contact-form -->
<!-- //contact -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart-js -->

<!-- //cart-js -->
<!-- video-bg -->
<script src="js/jquery.vide.min.js"></script>
<!-- //video-bg -->
<!-- Nice scroll -->
<script src="js/jquery.nicescroll.js"></script>
<script src="js/scripts.js"></script>
<!-- //Nice scroll -->

<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->