
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<!-- about -->
<div class="col-3">
	<vc:categories />

	<div class="bg-success mt-3 p-3 text-white">
		<vc:small-cart />
	</div>
</div>

<!--Buy-now -->
<div class="buy-now">
	<div class="container">
		<div class="heading-setion-w3ls">
			<h3 class="title-w3layouts">Select Your Favourite Gift <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i></h3>
		</div>
		<div class="team-grids">
			<!-- Bottom to top-->
			<div class="details-top-w3ls">
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/media/products/d1.jpg" alt="img"><span>#001</span></div>
						<div class="info">
							<h3>$95.00</h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #001" />
												<input type="hidden" name="amount" value="95.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/media/products/d2.jpg" alt="img"><p>Sale</p><span>#002</span></div>
						<div class="info">
							<h3>$80.00<span>$100.00</span></h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #002" />
												<input type="hidden" name="amount" value="100.00" />
												<input type="hidden" name="discount_amount" value="20.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/media/products/d3.jpg" alt="img"><span>#003</span></div>
						<div class="info">
							<h3>$100.00</h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #003" />
												<input type="hidden" name="amount" value="100.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d4.jpg" alt="img"><p>Sale</p><span>#004</span></div>
						<div class="info">
							<h3>$90.00<span>$100.00</span></h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #004" />
												<input type="hidden" name="amount" value="100.00" />
												<input type="hidden" name="discount_amount" value="10.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
			</div>
			<div class="details-mid-w3ls">
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/cake1.jpg" alt="img"><p>Sale</p><span>#005</span></div>
						<div class="info">
							<h3>$75.00<span>$100.00</span></h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #005" />
												<input type="hidden" name="amount" value="100.00" />
												<input type="hidden" name="discount_amount" value="25.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d4.jpg" alt="img"><span>#006</span></div>
						<div class="info">
							<h3>$170.00</h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #006" />
												<input type="hidden" name="amount" value="170.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d6.jpg" alt="img"><p>Sale</p><span>#007</span></div>
						<div class="info">
							<h3>$100.00<span>$200.00</span></h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #007" />
												<input type="hidden" name="amount" value="200.00" />
												<input type="hidden" name="discount_amount" value="100.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d2.jpg" alt="img"><span>#008</span></div>
						<div class="info">
							<h3>$50.00</h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #008" />
												<input type="hidden" name="amount" value="50.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
			</div>
			<div class="details-last-w3ls">
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d7.jpg" alt="img"><span>#009</span></div>
						<div class="info">
							<h3>$300.00</h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #009" />
												<input type="hidden" name="amount" value="300.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d8.jpg" alt="img"><p>Sale</p><span>#010</span></div>
						<div class="info">
							<h3>$350.00<span>$450.00</span></h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #010" />
												<input type="hidden" name="amount" value="450.00" />
												<input type="hidden" name="discount_amount" value="100.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d9.jpg" alt="img"><span>#011</span></div>
						<div class="info">
							<h3>$300.00</h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #011" />
												<input type="hidden" name="amount" value="300.00" />
												<input type="hidden" name="discount_amount" value="0.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d10.jpg" alt="img"><p>Sale</p><span>#012</span></div>
						<div class="info">
							<h3>$300.00<span>$500.00</span></h3>
							<ul>
								<li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
								<li class="cary-li-w3-agileits">
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart" />
												<input type="hidden" name="add" value="1" />
												<input type="hidden" name="business" value=" " />
												<input type="hidden" name="item_name" value="Product #012" />
												<input type="hidden" name="amount" value="500.00" />
												<input type="hidden" name="discount_amount" value="200.00" />
												<input type="hidden" name="currency_code" value="USD" />
												<input type="hidden" name="return" value=" " />
												<input type="hidden" name="cancel_return" value=" " />
												<input type="submit" name="submit" value="Add to cart" class="button" />
											</fieldset>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
			</div>
			<!-- end Bottom to top-->
		</div>
	</div>
</div>

<!-- //Buy-now -->

