@{
    ViewData["Title"] = "Home Page";
}



<!--we-offer -->

<div class="features">
	<div class="container">
		<div class="heading-setion-w3ls">
			<h2 class="title-w3layouts">What we Offer <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i></h2>
		</div>
		<div class="col-md-4 servies-agileinfo">
			<p class="pink-w3ls">Making your events more colourful</p>
			<p class="para-w3agileits">We provide the best colletion of prezzie with awesome offers & discounts .</p>
		</div>
		<div class="col-md-4 servies-agileinfo">
			<ul>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Mothers day</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Valentine's Day</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Wedding Day</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Anniversary</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Get well</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>House warming</li>
			</ul>
		</div>
		<div class="col-md-4 servies-agileinfo">
			<ul>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Retirement</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>New baby</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Business</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Birth days</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Graduation day</li>
				<li><i class="fa fa-diamond" aria-hidden="true"></i>Return gifts</li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //we-offer -->
<div class="sale-w3ls">
	<div class="container">
		<h6 class="white-agileits">Sale! <span>40%</span> off</h6>
		<p>Looking for the perfect gift for a special occasion? Look no further than our gift shop! We're excited to announce our latest sale, featuring incredible discounts on a wide variety of products.
			From personalized jewelry to unique home decor items, our collection of gifts is sure to impress. Whether you're shopping for a birthday, anniversary, or just because, 
			our team is here to help you find the perfect present. Don't miss out on these amazing deals - visit us today and discover the perfect gift at an unbeatable price!</p>
		<a href="buynow.html" class="botton-agileits">Explore More</a>

	</div>
</div>


	
<!--Buy-now -->
<div class="buy-now">
	<div class="container">
		<div class="heading-setion-w3ls">
			<h3 class="title-w3layouts">Select Your Favourite Gift <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell" aria-hidden="true"></i></h3>
		</div>
		<div class="team-grids">
			<!-- Bottom to top-->
			<div class="details-top-w3ls">
			    <div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d1.jpg" alt="img"><p>Sale</p><span>#001</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>							
								<li >
									<div class="text-center">
                                      <a class="btn btn-lg btn-primary" asp-controller="Products" asp-action="Index" >Select ur Gift</a>
                                    </div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				

				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d2.jpg" alt="img"><span>#002</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>							
								<li >
									<div class="text-center">
                                      <a class="btn btn-primary" asp-controller="Products" asp-action="Index" >Select ur Gift</a>
                                    </div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d3.jpg" alt="img"><span>#003</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d4.jpg" alt="img"><p>Sale</p><span>#004</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<pre>______________________________________________________________________________________________________________________________________________________________</pre>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d5.jpg" alt="img"><span>#005</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d6.jpg" alt="img"><p>Sale</p><span>#006</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d7.jpg" alt="img"><span>#007</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d8.jpg" alt="img"><p>Sale</p><span>#008</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<pre>______________________________________________________________________________________________________________________________________________________________</pre>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d9.jpg" alt="img"><span>#009</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/d10.jpg" alt="img"><p>Sale</p><span>#010</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/f1.jpg" alt="img"><span>#011</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
				<div class="col-md-3 team-grid">
					<!-- normal -->
					<div class="ih-item circle effect10 bottom_to_top">
						<div class="img"><img src="~/images/f2.jpg" alt="img"><p>Sale</p><span>#012</span></div>
						<div class="info">
							<h3>
								Beautiful Gift Wrap
							</h3>
							<ul>
								<li>
									<div class="text-center">
										<a class="btn btn-primary" asp-controller="Products" asp-action="Index">Select ur Gift</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- end normal -->
				</div>
			</div>
			<!-- end Bottom to top-->
		</div>
	</div>
</div>
<!-- Buy Now-->
<!-- services -->
<div class="services" id="services">
	<div class="container">
		<div class="w3l-about-grids">
			<div class="col-md-6 w3ls-about-left">
				<div class="heading-setion-w3ls">
					<h3 class="title-w3layouts white-agileits">Features <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell white-agileits" aria-hidden="true"></i></h3>
				</div>
				<div class="agileits-icon-grid">
					<div class="icon-left hvr-radial-out">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>Unique and exceptional products</h5>
						<p class="para-w3-agile">We are a trusted source for quality gifts and our focus is on finding unique gifts for family, friends, significant others, and for all occasions.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="agileits-icon-grid">
					<div class="icon-left hvr-radial-out">
						<i class="fa fa-heart" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>Great shopping experience</h5>
						<p class="para-w3-agile">Our goal is to give our customers a great shopping experience by providing them with a range of high-quality products and excellent service.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="agileits-icon-grid">
					<div class="icon-left hvr-radial-out">
						<i class="fa fa-paper-plane" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>Gift Wrapping and Gift Certificates</h5>
						<p class="para-w3-agile">Excellent service and wide variet of choices for a beautiful gift wrapping.Gift Certificates are also avaibale to amke your occasion extraordinary.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 w3ls-about-right">
				<div class="heading-setion-w3ls">
					<h3 class="title-w3layouts white-agileits">They Say <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell white-agileits" aria-hidden="true"></i></h3>
				</div>
				<div class="w3ls-about-right-img">
					<div class="test-gri1">
						<div id="owl-demo2" class="owl-carousel">
							<div class="test-grid1">
								<img src="~/images/team1.jpg" alt="" class="img-r">
								<h4>Candace T.</h4>
								<span>Verified Customer</span>
								<p>The order was processed quickly and shipped the next day. Excellent customer service and they reached out when I called to ensure the order would be sent as soon as possible. I had a child that had lost her sheep that could be warmed up and needed it right away. Thank you for being so understanding and caring about my order.</p>
							</div>
							<div class="agile">
								<div class="test-grid1">
									<img src="~/images/team2.jpg" alt="" class="img-r">
									<h4>Tanya</h4>
									<span>Verified Customer</span>
									<p>
										I put my order on monday evening, Dec. 21st…and received it right on time by Dec 24th! Thank you very much for sending me my package so rapidly! The packaging was perfect, the product is too. I kept one for myself too! Au plaisir!
									</p>
								</div>
							</div>
							<div class="agile">
								<div class="test-grid1">
									<img src="~/images/team3.jpg" alt="" class="img-r">
									<h4>Georgina</h4>
									<span>Verified Customer</span>
									<p>The spoon rest was exactly what I was looking for and a terrific price. I wanted to thank you for getting it delivered so quickly and in time for Christmas. Take care, best regards</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //services -->
<!-- contact-form-->
<div class="jarallax contact-bottom" id="contact">
	<div class="col-md-7 contact-right-w3l">
		<h3 class="title-w3layouts white-agileits">Reach Out to Us <i class="fa fa-bell-o" aria-hidden="true"></i><i class="fa fa-bell white-agileits" aria-hidden="true"></i></h3>
		<form action="mailto:Rizwana.ShaherBano@triosstudent.com?subject=Feedback&cc=info@prizzie.com" method="post">
			<input type="text" class="name" name="FirstName" placeholder="First Name" required="">
			<input type="text" class="name" name="LastName" placeholder="Last Name" required="">
			<input type="email" class="name" name="Email" placeholder="Email" required="">
			<input type="text" class="name" name="Subject" placeholder="Subject" required="">
			<textarea placeholder="Your Message" required=""></textarea>
			<input type="submit" value="Send message">
		</form>
	</div>
	<div class="col-md-5 agileits_w3layouts-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.529655996762!2d-79.74364138456276!3d43.65795317912108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b15618d46191f%3A0x9c69751fa8238ffc!2s373%20Steeles%20Ave%20W%20Unit%20103%2C%20Brampton%2C%20ON%20L6Y%200P8!5e0!3m2!1sen!2sca!4v1678347963662!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //contact-form -->
<!-- //contact -->