<!DOCTYPE html>
<html lang="en">
<head>
<title>Easy Admin Panel an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="~/adminStyles/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="~/adminStyles/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="~/adminStyles/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href="~/adminStyles/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<!-- chart -->
<script src="~/adminStyles/js/Chart.js"></script>
<!-- //chart -->
<!--animate-->
<link href="~/adminStyles/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="~/adminStyles/js/wow.min.js"></script>
    <script>
         new WOW().init();
    </script>
<!--//end-animate-->
<!----webfonts--->
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<!---//webfonts---> 
 <!-- Meters graphs -->
<script src="~/adminStyles/js/jquery-1.10.2.min.js"></script>
<!-- Placed js at the end of the document so the pages load faster -->

</head>
<body class="sticky-header left-side-collapsed"  onload="initMap()">
	<section>
	<!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<h1><a href="index.html">Easy <span>Admin</span></a></h1>
			</div>
			<div class="logo-icon text-center">
				@*<a href="index.html"><i class="lnr lnr-home"></i> </a>*@
				<a asp-controller="Home" asp-action="Index" asp-area="Home"><i class="lnr lnr-home"></i> </a>
			</div>

			<!--logo and iconic logo end-->
			<div class="left-side-inner">

				<!--sidebar nav start-->
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li class="active"><a href="index.html"><i class="lnr lnr-power-switch"></i><span>Dashboard</span></a></li>
						
						<li><a asp-controller="Products" asp-action="Index" asp-area="Admin"><i class="lnr lnr-spell-check"></i> <span>Products</span></a></li>
				<li><a asp-controller="StripeDashboard" asp-action="StripeIndex" asp-area="Home"><i class="lnr lnr-spell-check"></i> <span>Stripe</span></a></li>
						
						
						
					</ul>
				<!--sidebar nav end-->
			</div>
		</div>
		</section>


    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col">
                    <partial name="_NotificationPartial" />
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>


	 <!--footer section start-->
			<footer>
		<p>© 2017 Prezzie_admin_panel. All rights reserved </a></p>
			</footer>
		<!--footer section end-->

	  <!-- main content end-->
   </section>

<script src="~/adminStyles/js/jquery.nicescroll.js"></script>
<script src="~/adminStyles/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="~/adminStyles/js/bootstrap.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
